<div id="home" class="carousel">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slider-one">

        <div class="carousel-caption">
          <h1 class="text-left">
            <span>Sports surgery</span>
          </h1>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slider-two">

        <div class="carousel-caption">
          <h1 class="text-right">
            <span>Knee Specialist</span>
          </h1>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slider-three">
        <div class="carousel-caption">
          <h1 class="text-left">
            <span>Worlds leading sports surgery</span>
          </h1>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
