<div id="about">
  <div class="parallax">
    <h1 class="display-4 text-center">You are in Good Hands</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <img src="../../../assets/img/doctor.svg" class="img-fluid" width="100" />
        <h2 class="title">Dr C H Papagapiou</h2>

        <div class="about-us__content">
          <p>A specialist orthopedic surgeon practicing at Life Fourways Hospital, Busamed Modderfontein and Cure Day Clinic
            in Fourways. He is currently the resident surgeon at the sports injury clinic at Cedar Tree Medical Centre. </p>

          <p>Qualifying as an M.D through Witwatersrand University in 2005, and as an orthopedic surgeon early in 2014, further
            super-specializing in the field of knee reconstruction, he has a wide range of experience in traumatology as
            well as bone and joint surgery. Furthermodire, being a fellowship trained knee surgeon focusing on knee and sports
            surgery, he specialises in cartlige and ligament restorative or reconstructive surgery, additionally joint replacements
            including a wide spectrum of arthroplasty options. </p>
        </div>

        <a class="btn">View Gallery</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="carousel">
        <!-- <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
          <ngu-item NguCarouselItem>
            <div class="slider-1">

            </div>
          </ngu-item>
          <ngu-item NguCarouselItem>
            <div class="slider-2">

            </div>
          </ngu-item>
          <ngu-item NguCarouselItem>
            <div class="slider-3">

            </div>
          </ngu-item>
          <a NguCarouselPrev class='leftRs'>
            <i class="fas fa-angle-left"></i>
          </a>
          <a NguCarouselNext class='rightRs'>
            <i class="fas fa-angle-right"></i>
          </a>
        </ngu-carousel> -->
      </div>
    </div>
  </div>
</div>
