#about {
  position: relative;
  background: #fff;
}

.info {
  padding: 2.5rem 10%;
  color: #f8f8f8;
  min-height: 800px;
  text-align: center;
}

.bg-about {
  background-color: #221117;
}

.info img {
  background-color: white;
  padding: .5rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}

.row {
  margin: -.5rem 0 0 0 !important;
}

.about-us__content p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

[class*="col-"] {
  padding: 0 !important;
}

.parallax {
  position: relative;
  background-image: url(../../../assets/img/about.jpg);
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.parallax h1 {
  position: relative;
  padding: 8rem 0;
  font-size: 5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
  /* text-transform: uppercase; */
  color: white;
  font-weight: 400;
}

.btn {
  margin-top: 1.5rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
  border: 1px solid #fafafa;
  border-radius: 3rem;
  transition: all .5s;
}

.btn:hover {
  background-color: #ffffff;
  color: #221117 !important;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.equal>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .info {
    height: auto;
  }
}
