<div id="about">
  <div class="parallax">
    <h1 class="display-4 text-center">dr. harry papagapiou</h1>
  </div>
  <div class="row equal">
    <div class="col-md-6 bg-about">
      <div class="info">
        <img src="../../../assets/img/doctor.png" class="img-fluid" width="200" />
        <div class="about-us__content">
          <p>Dr harry papagapiou is a specialist orthopedic surgeon practicing at Life Fourways Hospital, Busamed Modderfontein
            and Cure Day Clinic in Fourways. He is currently the resident surgeon at the sports injury clinic at Cedar Tree
            Medical Centre. </p>

          <p>Qualifying as an M.D through Witwatersrand University in 2005, and as an orthopedic surgeon early in 2014, further
            super-specializing in the field of knee reconstruction, he has a wide range of experience in traumatology as
            well as bone and joint surgery. Furthermore, being a fellowship trained knee surgeon focusing on knee and sports
            surgery, he specialises in cartlige and ligament restorative or reconstructive surgery, additionally joint replacements
            including a wide spectrum of arthroplasty options.</p>

          <p>
            Current trends aim to preserve native joint anatomy in order to enhance longevity, kinematics and functionality in today's
            era of more active lifestyles.
          </p>

          <p>Dr.Papagapiou's interest in latest trends and advancements such as modern surgical techniques and imprinted designs
            facilitate in delivering these expectations.</p>

          <p>
            Recent drive towards robotic knee surgery is one of his expertise and he is a certified user of the NAVIO robotics system.
            Patient specific implants using 3-D printing technology are examples of cutting edge technology in his scope
            of practice. He has affiliations with the following organisations: He is currently a member of the South African
            Association. A member of the South African knee society and the South African Shoulder Society.
          </p>
        </div>

        <a class="btn">View Gallery</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/about.jpeg" class="img-fluid" />
    </div>
  </div>
</div>
