#locations {
  position: relative;
  padding: 8rem 0 16rem 0;
}

.title {
  text-transform: uppercase;
  padding: 1.5rem .5rem 4rem .5rem;
}

.card img {
  height: 200px;
  margin: auto;
  object-fit: cover;
}

.title_content {
  text-transform: uppercase;
  padding: 1rem .5rem;
  font-weight: 200;
}

.card .title_content,
.card .content {
  padding: 1.25rem 1rem;
  border: none;
}

.parallax {
  position: relative;
  background-image: url(../../../assets/img/main/2.jpeg);
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.parallax h1 {
  position: relative;
  padding: 8rem 0;
  /* text-transform: uppercase; */
  color: white;
  font-weight: 400;
}
