<div id="value">
  <div class="container">

    <div class="row">
      <div class="col-md-12  text-center">
        <img src="../../../assets/img/value.svg" class="img-fluid" />
        <h1 class="title center">Core Values</h1>

      </div>

    </div>
    <div class="row align-items-start">
      <div class="col-md-4 center">
        <div class="card">
            <img src="../../../assets/img/heart.svg" class="img-fluid" />
          <h4 class="title_content">Passion</h4>
          <div class="content lead">
            The things you are passionate about are not random , they are your calling.
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="card">
            <img src="../../../assets/img/syringe (1).svg" class="img-fluid" />
          <h4 class="title_content">Precision</h4>
          <div class="content lead">
            By concetrating on precision one arrives at technique.
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="card">
            <img src="../../../assets/img/stethoscope.svg" class="img-fluid" />
          <h4 class="title_content">Simplicity</h4>
          <div class="content lead">
            Willingness to challenge and better "BEST PRACTICE".
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
