#value {
  position: relative;
  padding: 8rem 0 16rem 0;
}

.title {
  text-transform: uppercase;
  padding: 1.5rem .5rem 4rem .5rem;
}

.card img {
  width: 40%;
  margin: auto;
  padding: 1.25rem .5rem;
}

.title_content {
  text-transform: uppercase;
  padding: 1rem .5rem;
  font-weight: 200;
}

.card {
  padding: 1.5rem 1rem;
  border: none;
}
