<div id="locations">
  <div class="container">

    <div class="row">
      <div class="col-md-12  text-center">
        <!-- <img src="../../../assets/img/value.svg" class="img-fluid" /> -->
        <h1 class="title center">Practices/Locations</h1>

      </div>

    </div>
    <div class="row align-items-start">
      <div class="col-md-4 center">
        <div class="card">
          <!-- <img src="../../../assets/img/heart.svg" class="img-fluid" /> -->
          <img class="card-img-top img-fluid" src="../../../assets/img/practices/1.jpeg" alt="Card image cap">
          <h4 class="title_content pt-2">Life Fourways</h4>
          <!-- <div class="content lead">
            The things you are passionate about are not random , they are your calling.
          </div> -->
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="card">
          <!-- <img src="../../../assets/img/syringe (1).svg" class="img-fluid" /> -->
          <img class="card-img-top img-fluid" src="../../../assets/img/practices/Busamed.jpg" alt="Card image cap">
          <h4 class="title_content pt-2">Busamed</h4>
          <!-- <div class="content lead">
            By concetrating on precision one arrives at technique.
          </div> -->
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="card">
          <!-- <img src="../../../assets/img/stethoscope.svg" class="img-fluid" /> -->
          <img class="card-img-top img-fluid" src="../../../assets/img/practices/cure day.jpg" alt="Card image cap">
          <h4 class="title_content pt-2">Cure Day</h4>
          <!-- <div class="content lead">
            Willingness to challenge and better "BEST PRACTICE".
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax">
  <h1 class="display-4 text-center">dr. harry papagapiou</h1>
</div>
