<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light primary-color">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/icon.svg" width="35" />
    <span>Dr C H Papagapiou</span>
  </a>
  <button class="navbar-toggler ml-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="onMenuClick()">
    <img src="assets/img/menu.svg" class="img-fluid" width="30" />
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <!-- <li class="nav-item dropdown" dropdown (onHover)="onAboutUsDropdownHover($event)" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button">About Us</a>
          <div class="dropdown-menu show dropdown-menu-right rounded-0" *ngIf="aboutUsDropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-link" [routerLink]="['/about-us']">Company Profile</a>
            <a class="dropdown-item nav-link" [routerLink]="['/about-us/team']">The T-Musicman Team</a>
          </div>
        </li> -->
      <li class="nav-item">
        <a class="nav-link">Value</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
