body {
  font-family: 'Dancing Script', 'Lato', sans-serif;
  background-color: #fafafa;
  font-size: 18px;
}

/* spacing */

.m-t-1 {
  margin-top: 1rem !important;
}

.m-t-2 {
  margin-top: 2rem !important;
}

.m-t-4 {
  margin-top: 4rem !important;
}

.m-b-1 {
  margin-bottom: 1rem !important;
}

.m-b-2 {
  margin-bottom: 2rem !important;
}

.m-b-4 {
  margin-bottom: 4rem !important;
}

.m-r-1 {
  margin-right: 1rem !important;
}

.m-r-2 {
  margin-right: 2rem !important;
}

.m-r-4 {
  margin-right: 4rem !important;
}

.m-l-1 {
  margin-left: 1rem !important;
}

.m-l-2 {
  margin-left: 2rem !important;
}

.m-l-4 {
  margin-left: 4rem !important;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.p-t-2 {
  padding-top: 2rem !important;
}

.p-t-4 {
  padding-top: 4rem !important;
}

.p-b-1 {
  padding-bottom: 1rem !important;
}

.p-b-2 {
  padding-bottom: 2rem !important;
}

.p-b-4 {
  padding-bottom: 4rem !important;
}

.p-r-1 {
  padding-right: 1rem !important;
}

.p-r-2 {
  padding-right: 2rem !important;
}

.p-r-4 {
  padding-right: 4rem !important;
}

.p-l-1 {
  padding-left: 1rem !important;
}

.p-l-2 {
  padding-left: 2rem !important;
}

.p-l-4 {
  padding-left: 4rem !important;
}

/* CAROUSEL */

ngb-carousel {
  position: relative;
  display: block;
  width: 100% !important;
  height: 100vh !important;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  display: none !important;
  z-index: 20;
}

.carousel-control-next {
  display: none !important;
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.carousel-indicators .active {
  background-color: #221117;
}

/* LOADING */

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="#221117" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  -moz-animation: 2s pulse linear infinite;
  -o-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
  clip: rect(0, 0, 100px, 0);
}

.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }

  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }

  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }

  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }

  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }

  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }

  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
